/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Playfair+Display&family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');

/* comon style  */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3f1FF;
}
/* top players styles  */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #ffff;
    width: 870px;
    padding: 33px;
    margin-top: 21px;
}
.section-title{
    color: rgb(59, 59, 245);
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 15px;
    font-size: 18px;
}
hr{
    border: 1px solid rgb(160, 150, 150);
    margin-top: 30px;
    margin-bottom: 30px;
}

/* top blog sectio  */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.thumbnel img{
    width: 117px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: gray;
}
.blog-author a{
    font-size: 12px;
    color: blue;
    text-decoration: none;
}
/* second section  */
.coureses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course{
    box-shadow: 2px 10px rgba(128, 128, 128, 0.1);
    border-radius: 15px;
    padding: 5px;
}
.course-banar img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star.filled{
    color: rgb(248, 205, 15);
}
.fa-star.empty{
    color: gray;
}
.course-duration{
    background-color: hotpink;
    border-radius: 15px;
    padding: 5px 8px;
}
/*------------ media quary --------- */
/* Mobile devices  */
@media only screen and (max-width: 688px){
    .container{
        width: 100%;
    }
    .players, .blogs, .coureses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog{
        flex-direction: column;
    }
}
/* media for ipad users  */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .container{
        width: 100%;
    }
    .players, .coureses{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
}